#popUp {
	width: 50%;
  	height: 60%;
	margin: 100px auto;
  	background : #DFE4F9;
  	font-family : Sans-serif;
  	font-size : 20px;
  	/*display :none;*/
}

table {
  	background: none;
  	width: 80%;
  	height: 80%;
  	margin: 100px auto;
  	padding-top: 10%;
}

input[type="text"] {
	background: none;
	padding: 8px;
	display: block;
	margin: 0 0 20px 0;
	width: 100%;
}

.input-error {
	border: 1px solid red !important;
}

#event-date {
	/*display: none;*/
}

button {
	background: none;
	width: 90%;
  	display: block;
  	border: 2px solid #2980b9;
  	padding: 8px;
  	background: none;
  	color: #2980b9;
  	cursor: pointer;
}
