.eventContainerCSS{
  width: 100%;
  background: #f2f2f2;
  height: 100px;
  padding: 15px;
  border-bottom: 1px solid #b5b5b5;
  font-family: Sofia, Arial, sans-serif;
}
.eventTitleCSS{
  font-weight: bold;
  color: #226598;
}
.eventOtherInfoCSS{
  font-family: Sofia, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: #333;
}
.shareButtonCSS{
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.titleDivCSS{
  display: flex;
}
.socialMediaDivCSS{
  display: flex;
  float: right;
  position: absolute;
  right: 40px;
  padding: 10px;
}
